 {% load static %}
 {% load cloudinary %}
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static "cliente/css/cliente.css" %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <section>
      <div class="border">
      <div class="container" style="background:#272525;">
        <img style="float:left;" class="img-responsive text-center" src="{% static "cliente/img/logo.png" %}">

        <h3 class="municipalidad">Municipalidad Provincial de Matucana</h3>
      </div>
     
      <div class="container">
        <H5 class="titulo"><strong>Consulta de Licencia de Conducir Vehiculos Menores</strong></H5>
        <div class="container">
          <form method="POST" class="row">
            {% csrf_token %}
          <!--<input type="text" name="" class="form-control col-md-3" placeholder="tipo documento">-->
          <div class="col-12"> <h6>  Numero de Documento de identidad</h6>
          <input type="text" name="buscalo" class="form-control col-md-3" placeholder="Ingrese Numero de doc. de identidad"><button type="submit" class="btn btn-success">Consultar</button>
          </div>
          </form>
        </div>
      </div>
      </div>
    </section>

   
    <section>
      <div class="container">
        <div class="container bootstrap snippet">
          {% if dni %}

                 {% for cliente in dni %}
          <div class="row">

            <div class="col-sm-3 col-md-2 col-lg-2 col-12"><!--left col-->
              <hr>
              <div class="text-center tab-content">
                <img src="{{cliente.photo.url}}" class="img-responsive" style="height:320px" alt="avatar">
              </div>

            </div><!--/col-3-->
            <div class="col-sm-9 col-md-10 col-lg-10">

              <div class="tab-content">
                
                     <form class="form consultaform" action="##" method="post" id="registrationForm">
                     <div class="form-group">

                    <div class="col-md-6 col-lg-6  col-12">
                      <label for="first_name"><h4>Tipo de Tramite</h4></label>
                     <label type="text" class="form-control fondodate" disabled>{{cliente.tramite}} </label>
                    </div>
                  </div>
                                        
                  <div class="form-group">

                    <div class="col-md-6 col-lg-6  col-12">
                      <label for="first_name"><h4>Num. Carnet</h4></label>
                      <label type="text" class="form-control" disabled>{{cliente.codigo}} </label>
                    </div>
                  </div>
 
                <div class="form-group">

                  <div class="col-md-6 col-lg-6  col-12">
                    <label for="phone"><h4>Nombre</h4></label>
                    <label type="text" class="form-control" disabled>{{cliente.nombre}} {{cliente.apellido}} </label>

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-6 col-lg-6 col-12">
                   <label for="mobile"><h4>Tipo doc. identidad</h4></label>
                   <label type="text" class="form-control" disabled>{{cliente.documento}} </label>
                 </div>
               </div>
               <div class="form-group">

                <div class="col-md-6 col-lg-6  col-12">
                  <label for="email"><h4>Nro. doc. identidad</h4></label>
                  <label type="text" class="form-control" disabled>{{cliente.num_documento}} </label>
                </div>
              </div>
              <div class="form-group">

                <div class="col-md-6 col-lg-6  col-12">
                  <label for="email"><h4>Nro. licencia</h4></label>
                  <label type="text" class="form-control" disabled>{{cliente.licencia}} </label>
                </div>
              </div>
              <div class="form-group">

                <div class="col-md-6 col-lg-6  col-12">
                  <label for="password"><h4>Fecha de Inscripción</h4></label>
                  <label type="text" class="form-control" disabled>{{cliente.fecha_inicio_licencia }}</label>
                </div>
              </div>
              <div class="form-group">

                <div class="col-md-6 col-lg-6  col-12">
                  <label for="password2"><h4>Fecha de Vencimiento</h4></label>
                  <label type="text" class="form-control" disabled>{{cliente.fecha_caducidad_licencia}} </label>
                </div>
              </div>

            </form>
 {% endfor %}
                              
                          
                  {% endif %}
          </div><!--/tab-pane-->
        </div><!--/tab-content-->

      </div><!--/col-9-->
    </div><!--/row-->
  </div>  
  </section>

  </body>
