.fondodate{
	width: 98%;
}

@media screen and (min-width: 601px) {
  .titulo {
    font-size: 20px;
    width: 100%;

	}
  .municipalidad{
   	margin-top: 10px;
   	color:#f3f1f1;
	}
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .titulo {
    font-size: 15px;
    }
   .municipalidad{
   	margin-top: 5px;
   	color:#f3f1f1;
   	font-size: 18px;
   }
   .perfil{
    width: 210px;
    margin-right: auto;
    margin-left: auto;
   }
}